# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data files
data/raw/*.xlsx
data/raw/*.csv
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
